# Byte-code files
*.pyc
__pycache__/

# Distribution / build
/dist/
/build/
*.egg-info/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Editor files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Twine cache
.pypirc
